In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('streamverse_dataset_estudo.csv', sep=';') 
df.head(120)

,id_sessao,data_visualizacao,id_usuario,plano,genero_conteudo,duracao_minutos,pais,cidade,dispositivo
0,1,2025-04-13,2,Básico,Animação,51,Alemanha,Munich,TV
1,2,2025-06-29,44,Premium,Animação,125,Canadá,Toronto,Celular
2,3,2025-04-03,26,Básico,Drama,218,Brasil,Curitiba,Computador
3,4,2025-01-15,32,Básico,Ação,60,Estados Unidos,Chicago,TV
4,5,2025-04-17,6,Família,Drama,98,Reino Unido,Liverpool,Celular
...,...,...,...,...,...,...,...,...,...
115,116,2025-04-09,27,Premium,Ação,44,Brasil,Rio de Janeiro,TV
116,117,2025-06-21,27,Básico,Terror,233,Canadá,Vancouver,TV
117,118,2025-04-14,34,Básico,Terror,40,Alemanha,Munich,Celular
118,119,2025-02-04,21,Premium,Animação,156,Brasil,Recife,Celular
119,120,2025-04-11,30,Básico,Comédia,227,Alemanha,Munich,TV

Determinar qual Pais teve a maior duração_minutos total de visualização e apresentear visualmente atraves de uma tabela

In [8]:
df_filter = df.groupby('pais')['duracao_minutos'].sum().reset_index().sort_values('duracao_minutos',ascending=False).head()
df_filter

             pais  duracao_minutos
2          Canadá             5983
1          Brasil             4832
0        Alemanha             4474
4     Reino Unido             3909
3  Estados Unidos             3663

Suponha que o Streamverse deseja implementar um sistema de bônus para usuarios de alta fidelidade a regra é a seguinte:

Se a duracao_minutos media diaria de um usuario for maior que 180 minutos, o usuario recebera um bonus de 20%
 
Se a duracao_minutos media diaria de um usuario for menor ou igual a 180 minutos, o usuario recebera um bonus de 5%

Determine quantos usuarios se qualificariam para o bonus de 20%

In [19]:
df_filter= df.groupby('id_usuario') ['duracao_minutos'].mean().reset_index()
df_maior= df_filter[df_filter['duracao_minutos']>180]
df_resultado= df_maior['id_usuario'].count()
df_resultado

np.int64(1)

Determinar a duracao_minutos total dee visaulização por tipo_plano e apresentar esses restultados viasualmente atravez de uma tabela

In [ ]:
df_filter = df.groupby('tipo_plano')['duracao_minutos'].sum().reset_index()
df_filter

Identificar os 5 genero_conteudo com MAIOR duracao_minutos total de visualização e aprensentar esses resultados visualmente atravez de uma tabela, ordenando apenas os 5 primeiros registros

In [31]:
df_filter= df.groupby ('genero_conteudo')['duracao_minutos'].sum().reset_index().sort_values('duracao_minutos',ascending = False).head(5)
df_filter

  genero_conteudo  duracao_minutos
2         Comédia             4466
5          Terror             4277
1            Ação             4092
4           Drama             3790
0        Animação             3364

Identificar um Dispositivo que gerou a maior duracao_minutos total de para conteudos do genero_conteudo "Drama"

In [38]:
df_filter = df[df['genero_conteudo']=='Drama']
df_a = df_filter.groupby ('dispositivo')['duracao_minutos'].sum().reset_index().sort_values('duracao_minutos', ascending = False)
df_a

  dispositivo  duracao_minutos
2          TV             1508
0     Celular             1281
1  Computador              818
3      Tablet              183